---
layout: default
title: Fat Robot - About
root: ""
---

{% include header.html %}

                <div class="top-title-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="page-info">
                                    <h1 class="h1-page-title">About Us</h1>

                                    <!-- BreadCrumb -->
                                    <div class="breadcrumb-container">
                                        <ol class="breadcrumb">
                                            <li>
                                                <a href="">Home</a>
                                            </li>
                                            <li class="active">About Us</li>
                                        </ol>
                                    </div>
                                    <!-- BreadCrumb -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--.top wrapper end -->

            <div class="content-wrapper"><div class="body-wrapper">
                    <div class="container">
                        

                        <div class="space-sep20"></div>

                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                              <h2>We create beautiful Android apps</h2> 
			      <p>                                    
				Unfortunately we see too many examples of apps that have been created with very little consideration for the Android platform.
			      </p>
			      <p>
			      <p> These apps might have cool features or support great services, but a lack of understanding or attention to how Android works often ruins the experience.
			      </p>
			      <p>
				<i>It doesn’t have to be this way.</i>
			      </p>
			      <p>
				We work with companies to help them create Android experiences to be proud of and ones that customers love.
                                </p>                                
                            </div>

                            <div class="col-md-4 col-sm-4">
                            </div>               

                        </div>
			<div class="space-sep20"></div>
			<div class="row">
                            <div class="col-md-8 col-sm-8">
                              <h2>We write and talk about Android</h2> 
			      <p>                                    
				In between our time crafting great Android experiences, we write books and blogs about Android. These are intended to sharpen our thinking and help share  knowledge with the wider Android and mobile community.
			      </p>
			      <p> 
				These apps might have cool features or support great services, but a lack of understanding or attention to how Android works often ruins the experience.
			      </p>
                            </div>

                            <div class="col-md-4 col-sm-4">
                            </div>               

                        </div> 
                        <!-- //row //-->

			<div class="space-sep20"></div>

			<div class="row">
                            <div class="col-md-8 col-sm-8">
                              <h2>We bring years of experience</h2> 
			      <p>                                    
				We are experienced software engineers and designers. We’ve worked for big names such as Disney, Sony, Nokia, BT, O2, The Guardian, Shell, Daimler.
			      </p>
			      <p> 
				Our team is led by Juhani Lehtmaeki, author of Smashing Android UI and Android UI Patterns.
			      </p>
			      <p>
				We’re based in the UK, Germany and Spain and work with start-ups through to large corporates across Europe and the USA.
			      </p>
                            </div>

                            <div class="col-md-4 col-sm-4">
                            </div>               

                        </div> 
                        <!-- //row //-->

			<div class="space-sep20"></div>

			<div class="row">
                            <div class="col-md-8 col-sm-8">
                              <h2>We achieve great results</h2> 
			      <p>                                    
				If you want your product to shine on Android then we can help. The extent of our engagement can range from design reviews and workshops, to team mentoring to expert development of your Android apps.
			      </p>
			      <p>
				Some of the successes we have shared with our clients include:
				<ul>
				  <li>Promotion by Google in Editor’s Picks</li>
				  <li>Dramatically improved ratings in Google Play</li>
				  <li>Warm and enthusiastic reviews by users</li>
				  <li>Increased downloads and engagement</li>
				</ul>
			      </p>
                            </div>

                            <div class="col-md-4 col-sm-4">
                            </div>               

                        </div> 
                        <!-- //row //-->

                        <div class="space-sep40"></div>                        

                    </div>
                </div>                
            </div><!--.content-wrapper end -->
{% include footer-light.html %}
