---
layout: default
title: Fat Robot - Better Android
root: ""
--- 
	  {% include header.html %}
</div> <!-- top wrapper end -->
                <div class="rev-slider-full">
                    <div class="rev-slider-banner-full  rev-slider-full">
                        <ul>
                            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" >
                                <img src="images/homepage-slider/backgrounds/07-background.jpg"  alt="Home Page Slider Background" data-fullwidthcentering="on">

                                <div class="tp-caption lft stb stl"
                                     data-x="550"
                                     data-y="13"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" 
                                     data-end="10000" 
                                     data-endspeed="500">
                                     <img width="300" src="images/homepage-slider/slide-main/when-in-SohoHouse_N5_framed.png" alt="when.in app screenshot"></div>

                                 <div class="tp-caption lft stb stl"
                                     data-x="650"
                                     data-y="13"
                                     data-speed="500"
                                     data-start="750"
                                     data-easing="easeOutExpo" 
                                     data-end="10000" 
                                     data-endspeed="500">
                                     <img width="300" src="images/homepage-slider/slide-main/hp-printer-status-phone-framed.png" alt="HP app screenshot"></div>

                                     <div class="tp-caption lft stb stl"
                                     data-x="750"
                                     data-y="13"
                                     data-speed="500"
                                     data-start="1000"
                                     data-easing="easeOutExpo" 
                                     data-end="10000" 
                                     data-endspeed="500">
                                     <img width="300" src="images/homepage-slider/slide-main/N5-Portrait-Main_framed.png" alt="Onefootball app screenshot"></div>

                                <div class="tp-caption lft stb stl"
                                     data-x="850"
                                     data-y="13"
                                     data-speed="500"
                                     data-start="1250"
                                     data-easing="easeOutExpo" 
                                     data-end="10000" 
                                     data-endspeed="500">
                                     <img width="300" src="images/homepage-slider/slide-main/finanzen-indexes_framed.png" alt="Finanzen.net app screenshot"></div>

                                 <div class="tp-caption slider-text-title sft str"
                                     data-x="20"
                                     data-y="150"
                                     data-speed="300"
                                     data-start="500"
                                     data-easing="easeOutCubic" 
                                     data-end="10000" 
                                     data-endspeed="500">World Class Android</div>
                                 <div class="tp-caption slider-text-description sft str"  
                                    data-x="20" 
                                    data-y="200" 
                                    data-start="500" 
                                    data-easing="easeOutBack" 
                                    data-end="10000" 
                                    data-endspeed="500">
                                    Fat Robot builds beautiful world class Android apps.  <br /> 
                                    Our clients rely on us to make them shine on all Android devices.<br/>
                                    Users praise our work with great ratings and positive feedback.<br />
                                </div>
                                <div class="tp-caption slider-text-description sft str"  
                                    data-x="20" 
                                    data-y="280" 
                                    data-start="1300" 
                                    data-easing="easeOutBack" 
                                    data-end="10000" 
                                    data-endspeed="500">
                                    <a href="{{root}}/about.html" class="button btn-flat">Learn More</a>
                                </div>    
                            </li>

                            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                                <img src="images/homepage-slider/backgrounds/07-background.jpg"  alt="rev-full1" data-fullwidthcentering="on">

                                <div class="tp-caption lft stb stl"
                                     data-x="650"
                                     data-y="23"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-end="10000" data-endspeed="500"><img width=400 src="images/homepage-slider/slide-user-reviews/onefootball-user-rating.png" alt="Onefootball Editor's Choice"></div>

                                <div class="tp-caption lft stb stl"
                                     data-x="650"
                                     data-y="133"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-end="10000" data-endspeed="500"><img width=400 src="images/homepage-slider/slide-user-reviews/finanzen-user-rating.png" alt="Onefootball Editor's Choice"></div>

                                <div class="tp-caption lft stb stl"
                                     data-x="650"
                                     data-y="253"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-end="10000" data-endspeed="500"><img width=400 src="images/homepage-slider/slide-user-reviews/currency-user-rating.png" alt="Onefootball Editor's Choice"></div>

                                <div class="tp-caption lft stb stl"
                                     data-x="650"
                                     data-y="373"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-end="10000" data-endspeed="500"><img width=400 src="images/homepage-slider/slide-user-reviews/onefootball-brasil-user-rating.png" alt="Onefootball Editor's Choice"></div>     

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="20"
                                     data-y="150"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" 
                                     data-end="10000" 
                                     data-endspeed="500">Loved by users</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="10000" data-endspeed="500">
                                    Our work receives high ratings and positive feedback from Users. <br /> 
                                    We typically see ratings above four stars for project we have helped. <br />
                                    Users appreciate the care and attention we put into our work.
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="280" data-start="1500" data-easing="easeOutBack" data-end="10000" data-endspeed="500">
                                    <a href="{{root}}/about.html" class="button btn-flat">Learn More</a>
                                </div>                  

                            </li>

                            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                                <img src="images/homepage-slider/backgrounds/07-background.jpg"  alt="rev-full1" data-fullwidthcentering="on">

                                <div class="tp-caption lft stb stl"
                                     data-x="650"
                                     data-y="13"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-end="10000" data-endspeed="500"><img width="300" src="images/homepage-slider/slide-editors-choice/of-EditorsChoice_framed.png" alt="Onefootball Editor's Choice"></div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="20"
                                     data-y="150"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" 
                                     data-end="20000" 
                                     data-endspeed="500">Noticed by others</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="100000" data-endspeed="500">
                                    Our work is regularly promoted by Google on the Play Store.<br /> 
                                    We often have our apps highlighted in the New and Updated apps section.<br />
                                    We also made to Google's Best Apps 2014 list and Editor's Choice.
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="280" data-start="1500" data-easing="easeOutBack" data-end="100000" data-endspeed="500">
                                    <a href="{{root}}/about.html" class="button btn-flat">Learn More</a>
                                </div>                  

                            </li>


                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div>
                    </div>
                </div></div><!--.top wrapper end -->


            <div class="content-wrapper ">

                <div class="body-wrapper">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.5s">
                                <h2 class="h2-section-title">Latest Projects</h2>

                                <div class="i-section-title">
                                    <i class="icon-iphone-streamline">

                                    </i>
                                </div>

                                <div class="space-sep20"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="portfolio-items portfolio-items-cols2">

                                    <!-- Portfolio Item -->
                                    <div class="thumb-label-item animated branding"
                                         data-animtype=""
                                         data-animrepeat="0"
                                         data-speed="1s"
                                         data-delay="0.6s">
                                        <div class="img-overlay thumb-label-item-img">
                                            <img
                                                src="images/projects/onefootball-project-hero.png"
                                                alt="Onefootball Project"/>

                                            <div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus"
                                                   href="{{root}}/onefootball-materialdesign.html"
                                                   title="Onefootball | Material Design"></a>

                                                <div class="item_img_overlay_content">
                                                    <h3 class="thumb-label-item-title">
                                                        <a href="{{root}}/onefootball-materialdesign.html">Onefootball | Material Design </a>
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                    <div class="thumb-label-item animated seo"
                                         data-animtype="fadeInUp"
                                         data-animrepeat="0"
                                         data-speed="1s"
                                         data-delay="0.8s">
                                        <div class="img-overlay thumb-label-item-img">
                                            <img
                                                src="images/projects/finanzen-project-hero.png"
                                                alt="Axel Spriinger Finanzen.net Project"/>

                                            <div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus"
                                                   href="{{root}}/axelspringer-finanzen.html"
                                                   title="Axel Springer | Finanzen.net"></a>

                                                <div class="item_img_overlay_content">
                                                    <h3 class="thumb-label-item-title">
                                                        <a href="{{root}}/axelspringer-finanzen.html">Axel Springer | Finanzen.net</a>
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- //Portfolio Item// -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- Testimonial -->
                    <div class="testimonial-big">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-sm-10">
                                    <div class="testimonial-big-text animated" data-animtype="fadeInRight"
                                         data-animrepeat="1"
                                         data-speed="1s"
                                         data-delay="0s">
                                        The Fat Robot team were amazing - anyone who takes the Android platform seriously should be talking to these guys. 
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="testimonial-big-img animated white-text" data-animtype="fadeInLeft"
                                         data-animrepeat="1"
                                         data-speed="1s"
                                         data-delay="0s">
                                        Maxime Blanc-Strauss, Head of Product, Onefootball
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-sep20"></div>
                    </div>
                    
                </div>
                <div class="space-sep10"></div>

                <!-- Recent Posts -->
                <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.4s">
                                <h2 class="h2-section-title">Recent Posts</h2>
                                <div class="i-section-title">
                                    <i class="icon-news">

                                    </i>
                                </div>
                            </div>
                        </div>

                        <div class="space-sep20"></div>
                        <div class="row">
			   {% for post in site.posts limit:4 %}
                            <div class="col-md-3 col-sm-3">
                                <div class="feature animated" data-animtype="fadeInLeft"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0s">
                                    <!--div class="feature-image img-overlay">
                                        <img src="images/placeholders/feature1.jpg" alt=""/>

                                        <div class="item-img-overlay">
                                            <a class="portfolio-zoom fa fa-plus" href="images/placeholders/feature1.jpg"
                                               data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                        </div>

                                    </div-->

                                    <div class="feature-content">
                                        <h3 class="h3-body-title">
					  <a href="{{post.url}}">
					    {{post.title}}
					  </a>
                                        </h3>

                                        <p>
                                            {{post.excerpt}}
                                        </p>

                                    </div>
				    <div class="feature-details">
                                      <i class="icon-calendar"></i>
                                      <span>{{ post.date | date_to_string}}</span>
                                      <span class="details-seperator"></span>
				      
                                      <a href="#"><i class="icon-comment"></i><span>4</span></a>
				    	                                      
                                    </div>
                                </div>
                            </div>
			    {% endfor %}
                        </div>			
                </div>

                <div class="space-sep40"></div>

                <!-- Smashing Android UI -->
                <div class="section-content section-color-bg white-text">
                        <div class="container">
                        
                        <div class="row">
                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInLeft"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">   
                                    <h2 class="h2-section-title">Smashing Android UI</h2>
                                    <h3 class="h3-section-info">Written by our CTO, Juhani Lehtim&#228;ki, Smashing Android UI explains how to create scalable layouts, make use of adaptive layouts and fragments, follow Android design best practices, and design sleek, intuitive user interfaces using Android UI design patterns.</h3>
                                </div>


                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInRight"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">
                                    <div class="right-image-container center-text">
                                        <img src="images/android-ui-book-3.png" width="200" alt="Smashing Android UI Book" />
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
	    {% include footer-light.html %}
            </div><!--.content-wrapper end -->

        </div><!-- wrapper ends -->








        

