---
layout: default
title: Fat Robot - Projects
root: ""
---
{% include header.html %}
                <div class="top-title-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="page-info">
                                    <h1 class="h1-page-title">Projects</h1>

                                    <h2 class="h2-page-desc">
                                        Some examples of our work
                                    </h2>

                                    <!-- BreadCrumb -->
                                    <div class="breadcrumb-container">
                                        <ol class="breadcrumb">
                                            <li>
                                                <a href="index.html">Home</a>
                                            </li>
                                            <li class="active">Projects</li>
                                        </ol>
                                    </div>
                                    <!-- BreadCrumb -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--.top wrapper end -->


            <div class="content-wrapper"><div class="body-wrapper">
                    
                    <div class="section-content no-padding section-color-gray">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInLeft"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">   
                                    <div class="space-sep100"></div>


                                    <h2 class="h2-section-title">Onefootball | Material Design</h2>
                                    <h3 class="h3-section-info">Onefootball is the app of choice for over 16 million football fans. The Android app gets a Material Design refresh to make it shine on Lollipop. 
                                    <div class="space-sep20"></div>
                                    <button onclick="window.location.href='{{root}}/onefootball-materialdesign.html'" class="btn btn-flat">Learn more</button>
                                    </h3>
                                    
                                </div>


                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInRight"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">
                                    <div class="right-image-container center-text">
                                        <img src="images/projects/onefootball-project-hero.png" alt="Onefootball Material Design" width="600" />
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-content no-padding">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInLeft"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">
                                    <div class="left-image-container center-text">
                                        <img src="images/projects/finanzen-project-hero.png" alt="Axel Springer Finanzen.net" width="600"/>
                                    </div>                    
                                </div>

                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInRight"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">   
                                    <div class="space-sep100"></div>


                                    <h2 class="h2-section-title">Axel Springer | finanzen.net</h2>
                                    <h3 class="h3-section-info">Finanzen.net is Axel Springer's market leading financial news magazine  read by investors and finance professionals across Germany and Switzerland.
                                        <div class="space-sep20"></div>
                                        <button onclick="window.location.href='axelspringer-finanzen.html'" class="btn btn-flat">Learn more</button>
                                    </h3>
                                </div>                
                            </div>
                        </div>
                    </div>

                    <div class="section-content no-padding section-color-gray">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInLeft"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">   
                                    <div class="space-sep100"></div>


                                    <h2 class="h2-section-title">finanzen.net | Currency Converter</h2>
                                    <h3 class="h3-section-info">
                                    A neat little tool from Germany's most popular financial news magazine.  The currency converter is a great companion the the main finanzen.net app.
                                    <div class="space-sep20"></div>
                                    <button onclick="window.location.href='{{root}}/finanzen-currency-converter.html'" class="btn btn-flat">Learn more</button>
                                    </h3>
                                    
                                </div>


                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInRight"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">
                                    <div class="right-image-container center-text">
                                        <img src="images/projects/finanzen-currency-project-hero.png" alt="Finanzen Currency Converter" width="600" />
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-content no-padding">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInLeft"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">
                                    <div class="left-image-container center-text">
                                        <img src="images/projects/onefootball-brasil-project-hero.png" alt="Onefootball Brasil | World Cup" width="600" />
                                    </div>                    
                                </div>

                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInRight"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">   
                                    <div class="space-sep100"></div>


                                    <h2 class="h2-section-title">Onefootball Brasil | World Cup Companion</h2>
                                    <h3 class="h3-section-info">Experience the World Cup in Brazil first-hand with Onefootball Brasil. 
Get up to date play-by-play match commentary in the Live Ticker, latest news and never miss a game.
                                        <div class="space-sep20"></div>
                                        <button onclick="window.location.href='{{root}}/onefootball-brasil.html'" class="btn btn-flat">Learn more</button>
                                    </h3>
                                </div>                
                            </div>
                        </div>
                    </div>

                    <div class="section-content no-padding section-color-gray">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInLeft"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">   
                                    <div class="space-sep100"></div>

                                    <h2 class="h2-section-title">The Economist | Coming Soon</h2>
                                    <h3 class="h3-section-info">An exciting new app from The Economist is coming soon.  We don't want to spoil the surprise so we will have to wait a little longer to tell you more.
                                    <div class="space-sep20"></div>
                                    <button onclick="window.location.href='{{root}}/economist-gbr.html'" class="btn btn-flat">Learn more</button>
                                    </h3>
                                    
                                </div>


                                <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInRight"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">
                                    <div class="right-image-container center-text">
                                        <img src="images/projects/economist-gbr-project-hero.png" alt="Finanzen Currency Converter" width="600" />
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>

                   
                </div>        
                
            </div><!--.content-wrapper end -->
	    {% include footer-light.html %}


