<div class="top_wrapper">
  <div class="top-bar">
    <div class="container">
      <div class="row">
	<div class="col-sm-7">
          <div class="mail-us top-bar-block">
            <i class="icon-email"></i>                            
            <span>
              E-mail: hello@fatrobot.io
            </span>                            
          </div>
	</div>
	<div class="col-sm-5">
                                
	  <div class="social-icons">
            <ul>
              <li>
		<a href="#" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a>
              </li>
              <li>
		<a href="https://twitter.com/fatrobot_io" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
              </li>
              <li>
		<a href="//plus.google.com/u/0/100333409214790922776?prsrc=3"
   rel="publisher" target="_blank" class="social-media-icon googleplus-icon" data-original-title="googleplus">googleplus</a>
              </li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row header">
        <!-- Logo -->
        <div class="col-xs-2 logo">
          <a href="{{site.baseurl}}/">
            <img width="200" src="{{site.baseurl}}/images/fatrobot_logo-name.png" alt="Fat Robot Logo"/>
          </a>
        </div>
        <!-- //Logo// -->

        <!-- Navigation File -->
        <div class="col-md-10">
	  
          <!-- Mobile Button Menu -->
          <div class="mobile-menu-button">
            <i class="fa fa-list-ul"></i>
          </div>
          <!-- //Mobile Button Menu// -->

          <nav>
            <ul class="navigation">
              <li>
                <a href="{{site.baseurl}}/">
                  <span class="label-nav">
                    Home
                  </span>
                </a>
              </li>
              <li>
                <a href="{{site.baseurl}}/projects.html">
                  <span class="label-nav">
                    Projects
                  </span>
                </a>
              </li>
              <li>
                <a href="{{site.baseurl}}/blog">
                  <span class="label-nav">
                    Blog
                  </span>
                </a>
              </li>
              <li>
                <a href="{{site.baseurl}}/about.html">
                  <span class="label-nav">
                    About
                  </span>
                </a>
              </li>
              <li>
                <a href="{{site.baseurl}}/contact.html">
                  <span class="label-nav">
                    Contact
                  </span>
                </a>
              </li>
              
            </ul>
	    
          </nav>
	  
          <!-- Mobile Nav. Container -->
          <ul class="mobile-nav">
            <li class="responsive-searchbox">
              <!-- Responsive Nave -->
              <form action="#" method="get">
                <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s" />
                <button class="icon-search"></button>
              </form>
              <!-- //Responsive Nave// -->
            </li>
          </ul>
          <!-- //Mobile Nav. Container// -->
        </div>
        <!-- Nav -->
	
      </div>

    </div>
  </header>
  <!-- //Header// -->

